{% extends "templates/web.html" %}

{% block page_content %}
<div class="py-20 row">
    <div class="col-sm-2">
        <img src="{{ image }}" alt="{{ title }}">
    </div>
    <div class="col">
        <h1>{{ title }}</h1>
        <p class="lead">Rs. {{ rate }}</p>
        <p> {{ description }} </p>
        <!-- <form action="www.google.com"> -->
        <button type="button" id="addToCart">Add to Cart</button> 
        <!-- </form> -->
        <!-- <a href="" id="addToCart">Add to Cart</a> -->
    </div>
    <a href="http://accounting:8000/cart">View Cart</a>
</div>
{% endblock %}
<!-- this is a sample default web page template -->

{% block script %}
<!-- js should be loaded in body! -->>
<script>
    {% include "accounting_app/accounting_app/doctype/item/templates/item.js" %}
</script>
{% endblock %}