{% extends "templates/web.html" %}

{% block page_content %}
<div class="py-20 row">
    <div class="col-sm-2">
        <img src="{{ image }}" alt="{{ title }}">
    </div>
    <div class="col">
        <h1>{{ title }}</h1>
        <p class="lead">Rs. {{ rate }}</p>
        <p> {{ description }} </p>
        <!-- <form action="www.google.com">
            <button type="button" id="addToCart">Add to Cart</button> 
        </form> -->
        <a href="www.google.com">Add to Cart</a>
    </div>
</div>
{% endblock %}

<!-- <script type="text/javascript">
    document.getElementById("addToCart").onclick = function () {
        location.href = "";}
</script> -->

<!-- this is a sample default web page template -->